@use "base";

body::before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -3;
  background: base.$white url("../../images/bg-main-desktop.png") left no-repeat;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Space Grotesk", sans-serif;
  font-size: base.$text;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
}

main {
  height: 90%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: 0.1rem solid black;

  .cards-wrapper {
    color: base.$white;
    display: inherit;
    flex-direction: column;
    gap: 2rem;
    border: 0.1rem solid black;
    padding-inline: 5rem;
    margin-inline-start: -10rem;

    .card-front,
    .card-back {
      display: flex;
      position: relative;
      height: 15rem;
      width: 26rem;

      .card-background {
        width: 100%;
        height: 100%;
      }

      .card-logo {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
      }

      .card-number {
        position: absolute;
        left: 1.5rem;
        top: 9rem;
        width: 100%;
        font-size: 1.7rem;
        letter-spacing: 0.2rem;
      }

      .card-name-exp {
        position: absolute;
        left: 1.5rem;
        top: 12.5rem;
        width: 87%;
        display: inherit;
        justify-content: space-between;
        font-size: 0.8rem;
        letter-spacing: 0.2rem;
      }

      .card-cvc {
        position: absolute;
        left: 21rem;
        top: 6.8rem;
        font-size: 0.9rem;
      }
    }

    .card-front {
      margin-inline-start: -5rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    width: 30rem;
    color: base.$very-dark-violet;

    input {
      height: 3rem;
      border-radius: 0.5rem;
      font-size: 1rem;
      width: 100%;
      border: 0.1rem solid base.$light-grayish-violet;
      padding-inline-start: 1rem;
      font-family: "Space Grotesk", sans-serif;
    }

    input::placeholder {
      color: base.$light-grayish-violet;
    }

    input[type="button"] {
      background-color: base.$very-dark-violet;
      color: base.$white;
      font-weight: 700;
    }

    label {
      font-size: 0.7rem;
      letter-spacing: 0.15rem;
      margin-block-end: 0.5rem;
    }

    .date-cvc-container {
      border: 0.1rem solid base.$light-grayish-violet;
      gap: 1rem;
      display: inline-flex;

      .date-container {
        width: 60%;
        display: inherit;
        flex-direction: column;

        div {
          display: flex;
          gap: 0.5rem;

          input {
            width: 4.5rem;
          }
        }
      }

      .cvc-container {
        width: 70%;
      }
    }

    .confirm-button {
      letter-spacing: 0.1rem;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
